<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"
		p:host="postmail.wemade.com" p:port="25" p:username="system" p:password="system"
		p:defaultEncoding="euc-kr" />

	<bean id="simpleNotifier" class="madvirus.spring.chap13.SimpleRegistrationNotifier">
		<property name="mailSender" ref="mailSender" />
	</bean>

	<bean id="mimeNotifier" class="madvirus.spring.chap13.MimeRegistrationNotifier">
		<property name="mailSender" ref="mailSender" />
	</bean>

</beans>
